<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.centauri" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Centauri</name>
    <description>Aplicaion entrenamientos ET</description>
    <author email="imunnic1@gmail.com" href="https://centauri-app.netlify.app">
        Ignacio Ovidio Muñoz Nicolás
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>